@import '../../sass/_mixins'
@import '../../sass/_variables'


.body
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.container
  background: $bodyColor
  width: 95%
  min-height: 90%
  display: grid
  justify-content: center
  align-items: center
  border-radius: 1em
  grid-auto-columns: 1fr
  grid-template-rows: 0.3fr 1.7fr
  gap: 0

.headerArea
  grid-area: 1 / 1 / 2 / 2
  border-radius: 1em 1em 0 0
  background: $headerColor
  width: 100%
  height: 100%

.headerRowWrapper
  height: 100%
  @include displayFlex(row)
  padding: 0 1em 0 1em

.headerRowInnerWrapper
  height: 100%
  @include displayFlex(row)

.headerColumnLogoWrapper
  height: 100%
  @include displayFlex($direction: column, $alignI: flex-start)

.headerColumnDisPlayerWrapper
  height: 100%
  @include displayFlex($direction: column, $alignI: flex-end)

.headerColumnInnerWrapper
  height: 100%
  @include displayFlex($direction: column, $justify: center)

.headerLogo
  width: 6em
  height: auto
  border-radius: 50%
  margin-left: 1em

.headerRoundDisPlayer
  height: 4em
  width: 4em
  border-radius: 50%
  background: $displayers
  margin: .5em 1em 0.5em 1em
  @include centerChildren

.disPlayersText
  color: $headerTextColor

.bodyArea
  grid-area: 2 / 1 / 3 / 2
  border-radius: 0 0 1em 1em
  background: $bodyColor
  width: 100%
  height: 100%

.bodyAreaButtonsRowWrapper
  @include displayFlex(row)
  border-bottom: solid 1px lightslategrey

.bodyAreaButtonsColumnWrapper
  @include displayFlex($direction: column, $alignI: flex-start)